#==========================================
# Author: Rohan Chikkam
# Date:   15 Jul 2022
#==========================================

from flask_restx import Api

api = Api(
    title="SQL Unit",
    version="1.0",
    description="A wrapper to automate unit tests for SQL",
)
{%- for api in apis %}
from {{api}}.config import api as {{api}}
api.add_namespace({{api}})
{% endfor %}